
SF_USER_ID=005j0000000TYQp
API_KEY=
YOUTUBE_API_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_TAG_ID=
PORT=80

SF_OAUTH_SESSION_URL=https://ocdla--ocdpartial.sandbox.my.site.com/services/oauth2/authorize
SF_OAUTH_SESSION_CALLBACK_URL=http://localhost/oauth/api/request
SF_OAUTH_SESSION_TOKEN_URL=https://test.salesforce.com/services/oauth2/token
SF_OAUTH_SESSION_CLIENT_ID=
SF_OAUTH_SESSION_CLIENT_SECRET=


SF_OAUTH_APPLICATION_INSTANCE_URL=https://ocdla--ocdpartial.sandbox.my.salesforce.com
SF_OAUTH_APPLICATION_TOKEN_ENDPOINT=https://ocdla--ocdpartial.sandbox.my.salesforce.com/services/oauth2/token
SF_OAUTH_APPLICATION_CLIENT_ID=
SF_OAUTH_APPLICATION_CLIENT_SECRET=

